@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

/* :root , html */
:root{
    font-family: 'Poppins', sans-serif;
    font-size : 62.5%;
    /* color : #2f3640; */
    /* color : white; */
}

/* styling html basic elements  */
ul li{
    list-style: none;
}

p,li{
    font-size: 1.6rem;
    margin-bottom : .5em;
    letter-spacing: .020em;
}
h1,h2,h3{
    letter-spacing: .015em;
    margin-bottom : .3em
}

a{
    text-decoration: none;
}

/* ##################### utility classes ############### */

.container{
    max-width : 1200px;
    width : 85%;
    margin : auto;
}
.blue{
    color : #40739e;
    /* color : lightblue; */
    /* color : */
}
.white{
    color : white;
}
.bg-blue{
    background-color: #40739e;
}
.black{
    color : #2f3640;
}
.fw-400{
    font-weight : 400;
}
.fw-500{
    font-weight: 500;
}
.fw-300{
    font-weight: 300;
}
.text-center{
    text-align: center;
}
.capitalize{
    text-transform: capitalize;
}

.lg-heading{
    font-size: 5.2rem;
}
.md-heading{
    font-size: 2.8rem;
}
.md-sm-heading{
    font-size: 2.2rem;
}
.small-text{
    font-size: 1.4rem;
}
.normal-text{
    font-size: 1.6rem;
}

.primary-btn{
    border: none;
    outline: none;
    cursor: pointer;
    padding: .8em 2.8em;
    border-radius : 0.5rem;
}


/* ##################### styling begins here ############## */
body{
    width : 100%;
    height : 100%;
    background-color: rgba(128, 128, 128, 0.157);
}
button{
    /* font-family: ; */
    font-family: 'Poppins', sans-serif;
}
.heading{
    padding: 1.5em 0;
}
.father{
    /* border: 2px solid red; */
    display: flex;
    /* gap : 2rem; */
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    /* justify-content: center; */
}
.card{
    /* border: 2px solid red; */
    width : 26rem;
    height : 35rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.256);
    background-color: white;
    transition: all .2s ease-in-out;
    margin-bottom: 3rem;
    /* cursor: po; */
}
.card img{
    /* border: 2px solid red; */
    /* padding: 1rem; */
    margin-top: .8rem;
    display: block;
    width : 100%;
    height : 16rem;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
}
.text-box{
    padding: 1.2rem;
}
.text-box p{
    /* border: 2px solid red; */
    /* line-height: 2.8rem; */
}
a{
    /* border: none; */
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #40739e;
    color : white;
    border-radius: .5rem;
    padding: .7em 2em;
    display: inline-block;

}
.card:hover{
    transform: scale(1.05);
}

@media (max-width : 500px){
    :root{
        font-size: 8.5px;

    }
    .father{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}